body {
    background-color:#EDF2CF ;
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 1120px;
    max-height: 1024px;
}

.expfooter {
    width: 1120px;
    height: 1024px;
    margin:auto;
}

.container {
    font-family: 'Noto Sans TC', sans-serif;
    margin: auto;
}

header {
    display: block;
    width: 1120px;
    height: 60px;
    padding-top: 36px;
    padding-bottom: 8px;
    font-family: 'Noto Sans TC', sans-serif;
}

header .h {
    display: inline-block;
    color: #778A50;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin:0;
    padding-right: 661px;
}

header .icon {
    display: inline-block;
    padding-right: 12px;
    margin: auto;
}

header .line {
    display: inline-block;
    border: 1px solid #778a50;
    height: 24px;
    margin-right: 12px;
  }

header .btn {
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color:#778A50;
    padding: 4px 8px;
    border-radius: 3px;
    border: 1px solid var(--Primary, #778A50);
    margin:auto;
}

.navs {
    display: block;
    width: 1120px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 3px;
    background: var(--Primary, #778A50);
    margin-bottom: 16px;
}

nav .navs_text {
    display: inline-block;
    color:#EDF2CF;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%; /* 24px */
    padding: 10px 30px;
    margin: auto;
}

.mainpic {
    width: 1120px;
    height: 448px;
    flex-shrink: 0;
}

.title2 {
    display: flex;
    max-width: 1120px;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 32px;
    align-items: center;

}

.tiL {
    max-width: 528px;
    padding: 10px 406px 11px 30px;
    border-radius: 3px;
    background: var(--Primary, #778A50);
    color: #EDF2CF;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    
}

.tiR {
    max-width: 528px;
    padding: 10px 433px 11px 30px;
    border-radius: 3px;
    background: var(--Primary, #778A50);
    color: #EDF2CF;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    
}

.pic {
    width: 165px;
    height: 140px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
}

.picgap {
    width: 528px;
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.picandtext {
    display: flex;
}

.text_block{
    display: flex;
    justify-content: space-around;
    max-width: 528px;
    max-height: 140px;
    margin-left: 64px;
    gap: 9px;
    flex-shrink: 0;
    background: var(--content_bg, #F7FBDA);
}

.text {
    max-width: 496px;
    max-height: 108px;
    display: flex;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    flex-direction: column;
    justify-content: center;
    color: var(--content_text, #7D7D7D);
    padding: 16px;
}

.line_p {
    width: 496px;
    height: 0px;
    border: solid #7D7D7D;
}

footer {
    display: block;
    width: 1440px;
    height: 60px;
    border-radius: 3px;
    background: var(--Primary, #778A50);
}

footer p{
    margin: auto;
    color: var(--background, #EDF2C5);
    font-size: 12px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    line-height: 60px;
}